
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Brand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>
<div th:replace="layout :: header"></div>
<div class="middle" th:fragment="content">
<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="form-container">
        <h1 class="text-center mb-4" style="font-size: 32px;">Create Brand</h1>
        <form  action="#" th:action="@{/store/saveBrand}" th:object="${stockDto}" method="Post">
            <div class="mb-3">
                <label class="form-label">Item:</label>
                <select class="form-select" th:field="*{itemName}" required>
                    <option value="">Select Item</option>
                    <option  th:each="item :${stockDto.item}"  th:value="${item.itemName}" th:text="${item.itemName}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Brand:</label>
                <input type="text"  class="form-control" th:field="*{brandName}" placeholder="Brand name" required/>
            </div>
            <p th:if="${errorMessage}" class="text-danger fw-bold" th:text="${errorMessage}"></p>
            <div class="mb-3">
                <label class="form-label">Price:</label>
                <input type="number"  class="form-control" step="0.01"  th:field="*{priceItem}" placeholder="Price Item" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Quantity:</label>
                <input type="number"  class="form-control"  th:field="*{quantity}" placeholder="Quantity" required/>
            </div>
            <button type="submit" class="btn btn-custom">Submit</button>

        </form>
        <div class="d-flex justify-content-center mt-3 gap-3">
            <a th:href="@{/store/createBrandAndPQ}" class="btn btn-custom-light">Go Back</a>
            <a th:href="@{/store/createstock1}" class="btn btn-custom-light">create another stock</a>
        </div>

    </div>

</div>
</div>
</body>
</html>
